$font: "Helvetica Neue", Helvetica, Arial, sans-serif;                      // Global Font Declaration 

$color-array:(
            "black":#000,
            "white":#fff,
            "green":#008000,
            "teal":#0097a4,
            "orange":#ef5a16,
            "sap-blue":#0070c0,
            "dark-gray":#767171,
            "red":#FF0000,
            "magento":#f26322,
            inherit:inherit
        );

$black: map-get($color-array, "black");
$white:map-get($color-array, "white");
$green:map-get($color-array, "green");
$teal:map-get($color-array, "teal");
$orange:map-get($color-array, "orange");
$sap-blue:map-get($color-array, "sap-blue");
$dark-gray:map-get($color-array, "dark-gray");
$red:map-get($color-array, "red");
$magento:map-get($color-array, "magento");

// Break Point Values
$xs:0px;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

// Section Top and Bottom Spacing
$spacing:20px;